    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <ion-list>
          <ion-radio-group (ionChange)="mapToLocalValue($event)">
            <ion-list-header>
              <ion-label [innerHTML]='content'></ion-label>
            </ion-list-header>
  
              <ion-item *ngFor="let ta of templateAnswers">
                <ion-label [innerHTML]='ta[1].answer'></ion-label>
                <ion-radio slot="start" value="{{ta[0].id}}"></ion-radio>
              </ion-item>
          </ion-radio-group>
      </ion-list>
      <button>Submit</button>
    </form>