<ion-header #myIdentifier>
  <ion-toolbar>
    <ion-title>{{ title_question }}</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
</ion-header>

<ion-content>
  <div id="window_map_mask" #window_map_mask>
  </div>
    <div id="window_map" #window_map>
      <div id="window_map_sub">
        <div>
          <h4>Rejoignez la zone indiqué.</h4>
        </div>
        <div>
          <div id="map" style="height:200px" #map></div> 
        </div>
      </div>
    </div>
  
  
  
  <app-truefalse *ngIf="typeq == ESCAPE_PAGE_TRUEFALSE"></app-truefalse>
  <app-clickingpicture *ngIf="typeq == ESCAPE_PAGE_CLICKINGPICTURE"></app-clickingpicture>
  <app-content *ngIf="typeq == ESCAPE_PAGE_BRANCHTABLE"></app-content>
  <app-matching *ngIf="typeq == ESCAPE_PAGE_MATCHING"></app-matching>
  <app-numerical *ngIf="typeq == ESCAPE_PAGE_NUMERICAL"></app-numerical>
  <app-multi *ngIf="typeq == ESCAPE_PAGE_MULTICHOICE"></app-multi>
  <app-short *ngIf="typeq == ESCAPE_PAGE_SHORTANSWER"></app-short>

  <div *ngIf="typeq == ESCAPE_PAGE_END" class="text-content-content">
    <div [innerHtml]="content"></div>
    <button class="backToGameSelector" (click)="backToGameSelector()">Retour Menu</button>
  </div>

</ion-content>
